/public
!/frontend/public
coverage
node_modules
yarn.lock
source/*
!source/.gitkeep
static/*
!static/.gitkeep
logs/*
!logs/.gitkeep
plugins/*
!plugins/inline_note_filter
!plugins/recent_posts
theme/*
!theme/.gitkeep
config.yaml
category_indexes.json
